.potentialEarningsContainer {
  margin-top: -16px;
  padding: 30px 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #5A63D8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5A63D8, #CD90E1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5A63D8, #CD90E1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5A63D8, #CD90E1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5A63D8, #CD90E1); /* Standard syntax */
  color: white;
}

input {
  height: 50px;
  width: 280px;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(255,255,255,.3);
  border: none;
  color: white;
}
