.riskAssessmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riskButtonContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.riskButton {
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,.1);
  border: none;
}

.riskButton:hover {
  background-color: rgba(95,101,217,1);
  color: white;
}

.generatePortfolioContainer {
  margin-top: 5%;
  width: 30%;
}

.generatePortfolio {
  width: 100%;
  padding: 20px;
  background: #5A63D8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5A63D8, #CD90E1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5A63D8, #CD90E1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5A63D8, #CD90E1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5A63D8, #CD90E1); /* Standard syntax */
  color: white;
  border: none;
}