@font-face {
   font-family: 'Open Sans';
   font-style: bold;
   font-weight: 1000;
   src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

@font-face {
   font-family: 'Open Sans Light';
   font-style: lighter;
   font-weight: ;
   src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

button, .App {
  text-align: center;
  font-family: "Open Sans";
}

h1{
  font-family: 'Open Sans Light';
}

button h1{
  font-family: 'Open Sans Light';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
